
.train-info-container,
.class-selector-container,
.seat-selector-container
{
  max-width: 45rem !important;
  border: solid #7AAC71;
  border-radius: 10px;
}

.custom-button{
  background-color: rgba(0,0,0,0);
}

#custom-radio-button{
  margin-top: 12px;
}

input[type="radio"]:checked{
  background-color: #62256A;
}

.custom-label{
  cursor: pointer;
}

.custom-icon{
  width: 28px !important;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {

  .custom-icon{
    width:10px !important;
  }
}

/* .seat-row{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
} */

.seat{
  max-width: 3rem;
  text-align: center;
}

.slider{
  overflow-x: scroll !important;
  width: 100%;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.slide {
  width: 60%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ;
}

.active-anim {
  opacity: 1;
}