.logo{
  display: flex;
  justify-content: center !important;
}

.logo-img{
  width: 200px;
  height: 70px;
}

@media screen and (max-width: 0px) {
  .logo{
    display: flex;
    justify-content: end !important;
  }
  .logo-img{
    width: 140px;
    height: 45px;
  }
  .ticket-img{
    width:22px !important;
  }
  .ticket-button-text{
    font-size: small;
  }
}

.ticket-button{
  color: #ffff !important;
}

.profile-img{
  filter: invert(99%) sepia(3%) saturate(1186%) hue-rotate(212deg) brightness(122%) contrast(100%);
  width: 40px;
}

.profile-button-text {
  font-size: smaller;
  color: #ffff;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-custom .btn:first-child{
  background-color: #feae00;
  color: black;
  border-color: #feae00;
}

.dropdown-custom .btn:first-child:hover {
  background-color: #7AAC71; 
  color: black;
  border-color: #7AAC71;
}
