.customInput{
  border-color:#7AAC71 !important;
  border-radius: 15px !important;
}

.customContainer{
  padding: 20px;
  border: 7AAC71 solid;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.home{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-image: url("/public/images/bg-home.jpg");
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.customSuggestionList{
  cursor: pointer;
}

.customSuggestionList:last-child{
  margin-bottom: 1rem;
}

.customSuggestionList:first-child{
  margin-top: 1rem;
}

.customSuggestContainer{
  background-color: rgba(255, 255, 255, 255);
  border: #7AAC71;
  border-radius: 10px;
  position: absolute;
  padding: 2px;
  height: 300px;
}
.custom-text{
  cursor: pointer;
}

.custom-text:hover{
  background-color:rgba(122, 172, 113, 0.1);
}